NODE_ENV=development
PORT=3002
MONGO_URI=mongodb://admin:password@localhost:27017/auth-db?authSource=admin
ALLOWED_ORIGINS=https://localhost:3000
INTER_SERVICE_TOKEN=your-inter-service-token-here
REDIS_URL=redis://localhost:6379

JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nYour public key here\n-----END PUBLIC KEY-----"
