NODE_ENV=development
PORT=3001
MONGO_URI=mongodb://admin:password@localhost:27017/users-db?authSource=admin
ALLOWED_ORIGINS=https://localhost:3000
INTER_SERVICE_TOKEN=your-inter-service-token-here
REDIS_URL=redis://localhost:6379
